#root > h1 {
  margin: 2rem auto;
  width: 95%;
}
.stockContainer {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
  margin: 0 auto 2rem auto;
  padding: 1rem;
  width: calc(95% - 1rem);
}
